# Webinar 3 - Sprint 2: Funciones, bucles y condicionales

## Objetivo de la Clase
Seguiremos explorando los conceptos básicos de python pero en esta ocasion abordaremos ejercicios complejos que nos permitirán desarrollar nuestra lógica de programación y crear código utilizando todas las funciones y métodos vistos hasta ahora.

#### Ejercicio 0: Recordemos funciones

Filtremos a partir de una categoria dentor de una lista anidada.
- **Hint**: Es un Dejá Vú.

In [3]:
# Inventory list
inventory = [
    ['P001', 'Smartphone', ['electronics', 'gadgets'], [50, 30, 20]],
    ['P002', 'Laptop', ['electronics', 'computers'], [25, 15, 10]],
    ['P003', 'T-Shirt', ['clothing', 'sportswear'], [100, 200]],
    ['P004', 'Headphones', ['electronics', 'gadgets', 'audio'], [80, 50]],
    ['P005', 'Running Shoes', ['clothing', 'sportswear', 'footwear'], [40, 60]],
    ['P006', 'Blender', ['kitchen', 'home appliances'], [15, 25]],
    ['P007', 'Microwave', ['kitchen', 'home appliances'], [10, 5]],
    ['P008', 'Sofa', ['furniture', 'living room'], [8, 12]],
    ['P009', 'Notebook', ['stationery', 'office'], [150, 200]],
    ['P010', 'Backpack', ['sportswear', 'travel'], [30, 45]]
]

In [13]:
def get_products_by_category(inventory, id_index, name_index, category_index, stock_index, filter_category):

    lista_a_devolver = []

    for product in inventory:
        if filter_category in product[2]:
            lista_a_devolver.append([product[id_index], product[name_index], product[category_index], product[stock_index]])
    
    return lista_a_devolver

In [4]:
# Call the function with the 'electronics' category
result = get_products_by_category(inventory, 0, 1, 2, 3, 'electronics')

# Print the resulting list
print(result)

[['P001', 'Smartphone', ['electronics', 'gadgets'], [50, 30, 20]], ['P002', 'Laptop', ['electronics', 'computers'], [25, 15, 10]], ['P004', 'Headphones', ['electronics', 'gadgets', 'audio'], [80, 50]]]

In [7]:
# Call the function with the 'electronics' category
v1 = get_products_by_category(inventory, 0, 1, 2, 3, 'electronics')
type(v1)

list

In [14]:
# Call the function with the 'electronics' category
v2 = get_products_by_category(inventory, 0, 1, 2, 3, 'electronics')
type(v2)

[['P001', 'Smartphone', ['electronics', 'gadgets'], [50, 30, 20]], ['P002', 'Laptop', ['electronics', 'computers'], [25, 15, 10]], ['P004', 'Headphones', ['electronics', 'gadgets', 'audio'], [80, 50]]]

NoneType

In [ ]:
def get_products_by_category(inventory, id_index, name_index, category_index, stock_index, filter_category):
    filtered_products = []

    for product in inventory:
        categories = product[category_index]
        if filter_category in categories:
            total_stock = sum(product[stock_index])
            filtered_products.append([
                product[id_index],          # Product's ID
                product[name_index],        # Product's name
                categories,                 # Product's categories
                total_stock                 # Total stock available
            ])

    return filtered_products

# Inventory list
inventory = [
    ['P001', 'Smartphone', ['electronics', 'gadgets'], [50, 30, 20]],
    ['P002', 'Laptop', ['electronics', 'computers'], [25, 15, 10]],
    ['P003', 'T-Shirt', ['clothing', 'sportswear'], [100, 200]],
    ['P004', 'Headphones', ['electronics', 'gadgets', 'audio'], [80, 50]],
    ['P005', 'Running Shoes', ['clothing', 'sportswear', 'footwear'], [40, 60]],
    ['P006', 'Blender', ['kitchen', 'home appliances'], [15, 25]],
    ['P007', 'Microwave', ['kitchen', 'home appliances'], [10, 5]],
    ['P008', 'Sofa', ['furniture', 'living room'], [8, 12]],
    ['P009', 'Notebook', ['stationery', 'office'], [150, 200]],
    ['P010', 'Backpack', ['sportswear', 'travel'], [30, 45]]
]

# Call the function with the 'electronics' category
result = get_products_by_category(inventory, 0, 1, 2, 3, 'electronics')

# Print the resulting list
print(result)

- [ ] **Check:** Los parámetros de la funcion ingresan como enteros. ¿Crees que la funcion caiga en un error si se pasan string?.

In [15]:
# Call the function with the 'electronics' category
result = get_products_by_category(inventory, '0', 1, 2, 3, 'electronics')

# Print the resulting list
print(result)

TypeError: list indices must be integers or slices, not str

#### Ejercicio 1: Variables globales

Creemos una variable global, y editemosla desde una función.
- **Hint**: Hagamos una operación de `+=`.

In [16]:
total_stock = 0

In [17]:
print(total_stock)

0

In [18]:
def agregar_stock(agregar):
    global total_stock
    local_stock = total_stock

    # vamos a agregar
    local_stock += agregar

    total_stock = local_stock

In [19]:
agregar_stock(100)

In [20]:
print(total_stock)

100

In [ ]:
# Variable global que representa el stock total inicial
total_stock = 500

# Muestra el stock inicial
print(f"Stock inicial: {total_stock}")

# Función para agregar productos al inventario
def add_stock(amount):
    global total_stock  # Accede a la variable global 'total_stock'
    local_stock = total_stock  # Variable local para realizar un seguimiento del stock temporal

    # Agrega la cantidad al stock local
    local_stock += amount
    
    # Actualiza el stock global
    total_stock = local_stock

# Realiza operaciones para agregar stock
add_stock(100)  # Agregar 100 productos
print(f"Stock global actualizado: {total_stock}")

add_stock(250)  # Agregar 250 productos
print(f"Stock global actualizado: {total_stock}")

- [ ] **Check:** Recordemos como se comportan las variables dentro de ciclos `for` o funciones.

#### Ejercicio 2: Gestión inventario de herramientas

A partir de un inventario (una lista vacia) vamos a crear diferentes funciones que me permitan modificar esta lista vacia. Esto es:
- Creemos una funcion llamada `add_tool` que me permita agregar una herramienta a la lista (simplemente un elemento). Por ejemplo: `name`, `category` y `available`.
- `check_availability` que a partir del `name` me indique si la herramienta está disponible.
- `lend_tool` que me permita alterar el `available` para indicar que la herramienta no está disponible

- **Hint**: En cada punto hacemos una operación: Agregar, filtrar y alterar elementos.

In [21]:
inventory = []

In [22]:
def add_tool(name, category, available):
    inventory.append({"name" : name, "category": category, "available": available})

In [23]:
add_tool("Martillo", "Manual", available=True)

In [24]:
inventory

[{'name': 'Martillo', 'category': 'Manual', 'available': True}]

In [27]:
def check_availability(nombre_herramienta):
    for herramienta in inventory:
        if herramienta[name] == nombre_herramienta:
            print(herramienta[available])
        else:
            print("hey la herramienta no existe")

In [1]:
# Inicimos el código aquí
# Inventario inicial de herramientas
inventory = []

# Tarea 1: encapsular la adición de una herramienta
def add_tool(name, category, available=True):
    inventory.append({"name": name, "category": category, "available": available})

# Tarea 2: encapsular la comprobación de disponibilidad
def check_availability(tool_name):
    for tool in inventory:
        if tool["name"] == tool_name:
            print(f"La herramienta '{tool_name}' está disponible: {tool['available']}")
            return
    print(f"La herramienta '{tool_name}' no está en el inventario.")

# Tarea 3: encapsular el préstamo de una herramienta
def lend_tool(tool_name):
    for tool in inventory:
        if tool["name"] == tool_name:
            if tool["available"]:
                tool["available"] = False
                print(f"La herramienta '{tool_name}' ha sido prestada.")
            else:
                print(f"La herramienta '{tool_name}' ya está prestada.")
            return
    print(f"La herramienta '{tool_name}' no está en el inventario.")

# Tarea 4: encapsular el listado de todas las herramientas
def list_tools(status="all"):
    for tool in inventory:
        if status == "all":
            print(f"Nombre: {tool['name']}, Categoría: {tool['category']}, Disponible: {tool['available']}")
        elif status == "available" and tool["available"]:
            print(f"Nombre: {tool['name']}, Categoría: {tool['category']}, Disponible: {tool['available']}")
        elif status == "lent" and not tool["available"]:
            print(f"Nombre: {tool['name']}, Categoría: {tool['category']}, Disponible: {tool['available']}")

# Usar las funciones

# Agregar herramientas al inventario
add_tool("Taladro", "Eléctrica")
add_tool("Martillo", "Manual", available=True)
add_tool("Llave inglesa", "Manual")

# Comprobar la disponibilidad de una herramienta
check_availability("Taladro")
check_availability("Sierra")

# Prestar una herramienta
lend_tool("Taladro")
lend_tool("Llave inglesa")

# Listar todas las herramientas
print("\nTodas las herramientas:")
list_tools("all")

print("\nHerramientas disponibles:")
list_tools("available")

print("\nHerramientas prestadas:")
list_tools("lent")

- [ ] **Check:** Un repaso completo de los dos sprints.

#### Ejercicio 3: Pandas

Crea un dataframe simple usando elementos del diccionario.

- **Hint**: Clave-Valor es igual a Columnas y sus valores.

In [29]:
import pandas as pd

data = {'product_id': [101, 102, 103],
        'product_name': ['Laptop', 'Smartphone', 'Tablet'],
        'price': [1500, 800, 300],
        'category': ['Electronics', 'Electronics', 'Electronics']}

df = pd.DataFrame(data)

In [31]:
df.head()

   product_id product_name  price     category
0         101       Laptop   1500  Electronics
1         102   Smartphone    800  Electronics
2         103       Tablet    300  Electronics

In [2]:
import pandas as pd

data = {'product_id': [101, 102, 103],
        'product_name': ['Laptop', 'Smartphone', 'Tablet'],
        'price': [1500, 800, 300],
        'category': ['Electronics', 'Electronics', 'Electronics']}

df = pd.DataFrame(data)

data_types = df.dtypes
column_names = df.columns

print(data_types)
print(column_names)

product_id       int64
product_name    object
price            int64
category        object
dtype: object
Index(['product_id', 'product_name', 'price', 'category'], dtype='object')

- [ ] **Check:** ¿Tuvimos que especificar los tipos de datos?

#### Ejercicio 4: Creando dataframes

Crea un dataframe simple usando elementos de la lista anidada.

- **Hint**: Debemos de especificar los nombres de las columnas.

In [34]:
import pandas as pd

sales_data = [
    ['Laptop', 'North America', 120, 120000],
    ['Smartphone', 'Europe', 340, 170000],
    ['Tablet', 'Asia', 210, 63000],
    ['Headphones', 'South America', 150, 45000],
    ['Smartwatch', 'Africa', 95, 28500],
]

columns = ['product_name_xd', 'region', 'units_sold', 'revenue']

sales_report = pd.DataFrame(data=sales_data, columns=columns)

In [35]:
sales_report.head()

  product_name_xd         region  units_sold  revenue
0          Laptop  North America         120   120000
1      Smartphone         Europe         340   170000
2          Tablet           Asia         210    63000
3      Headphones  South America         150    45000
4      Smartwatch         Africa          95    28500

In [ ]:
import pandas as pd

sales_data = [
    ['Laptop', 'North America', 120, 120000],
    ['Smartphone', 'Europe', 340, 170000],
    ['Tablet', 'Asia', 210, 63000],
    ['Headphones', 'South America', 150, 45000],
    ['Smartwatch', 'Africa', 95, 28500],
]

columns = ['product_name', 'region', 'units_sold', 'revenue']

sales_report = pd.DataFrame(data=sales_data, columns=columns)
print(sales_report)

#### Popurri - Ejercicio 5: Exploremos pandas

A modo de clase magistral, exploremos algunas funcionalidades de pandas!

In [1]:
# Importamos
import pandas as pd

<div style="text-align: center;">
    <img src="ts_3.png" alt="Taylor Swift" style="width:50%;"/>
</div>

In [2]:
# Cargamos el archivo
df = pd.read_csv('taylor_swift_songs.csv')

In [4]:
# Revisemoslo!
df.head(8)

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
0,Love Story,Fearless,2008,3.55,Country,850,4,Swift,Chapman,Grammy
1,You Belong With Me,Fearless,2008,3.52,Country,920,2,"Swift, Rose",Chapman,NaN
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
3,Blank Space,1989,2014,4.32,Pop,2300,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
4,All Too Well,Red,2012,5.29,Pop,600,1,Swift,Swift,Grammy
5,Willow,Evermore,2020,3.34,Alternative,500,1,"Swift, Dessner",Dessner,NaN
6,Anti-Hero,Midnights,2022,3.20,Pop,800,1,"Swift, Antonoff",Antonoff,NaN
7,The Archer,Lover,2019,3.31,Synth-pop,600,4,"Swift, Antonoff",Antonoff,NaN

In [42]:
# Un vistazo mas especifico
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       49 non-null     object
 1   Album                       49 non-null     object
 2   Release Year                49 non-null     int64
 3   Duration (mins)             49 non-null     float64
 4   Genre                       49 non-null     object
 5   Spotify Streams (millions)  49 non-null     int64
 6   Peak Billboard Position     49 non-null     int64
 7   Songwriter(s)               49 non-null     object
 8   Producer(s)                 49 non-null     object
 9   Awards                      6 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 4.0+ KB

In [6]:
# Ultimas 5 filas
df.tail(5)

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
44,Ours,Speak Now,2010,4.01,Country,430,10,"Swift, Rose",Chapman,NaN
45,The Story of Us,Speak Now,2010,4.05,Country,450,12,"Swift, Rose",Chapman,NaN
46,Long Live,The Hunger Games,2012,4.02,Alternative,500,18,"Swift, T-Bone Burnett",Chapman,Grammy
47,Safe & Sound,The Hunger Games,2012,3.39,Alternative,470,19,"Swift, T-Bone Burnett",T-Bone Burnett,NaN
48,Eyes Open,Red,2012,3.53,Pop,700,1,"Swift, Martin, Shellback",T-Bone Burnett,NaN

In [7]:
# Seleccionar la fila con índice 5 (sexta fila)
df.loc[3]

Title                                      Blank Space
Album                                             1989
Release Year                                      2014
Duration (mins)                                   4.32
Genre                                              Pop
Spotify Streams (millions)                        2300
Peak Billboard Position                              1
Songwriter(s)                 Swift, Martin, Shellback
Producer(s)                          Martin, Shellback
Awards                                             NaN
Name: 3, dtype: object

In [48]:
# Seleccionar las filas con índices 2, 5 y 10
df.loc[[2, 5, 10]]

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
5,Willow,Evermore,2020,3.34,Alternative,500,1,"Swift, Dessner",Dessner,NaN
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN

In [51]:
# Seleccionar solo la columna 'Title'
df.loc[0:5, 'Title']

0            Love Story
1    You Belong With Me
2          Shake It Off
3           Blank Space
4          All Too Well
5                Willow
Name: Title, dtype: object

In [55]:
# Seleccionar las filas 0 a 4 y las columnas 'Title' y 'Album'
df.loc[0:10, ['Title', 'Album']]

                 Title      Album
0           Love Story   Fearless
1   You Belong With Me   Fearless
2         Shake It Off       1989
3          Blank Space       1989
4         All Too Well        Red
5               Willow   Evermore
6            Anti-Hero  Midnights
7           The Archer      Lover
8       Wildest Dreams       1989
9             Cardigan   Folklore
10               Style       1989

In [ ]:
# Una forma distinta de escribirlo
index_res = df.loc[5, 'Title': 'Album']
print(index_res)

In [ ]:
# de la 9 a la 20, incluidas
index_res = df[9:20]
print(index_res)

In [58]:
# Filtrar canciones que pertenecen al álbum '1989'
df[df['Album'] == '1989']

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
3,Blank Space,1989,2014,4.32,Pop,2300,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
8,Wildest Dreams,1989,2014,3.40,Dream pop,850,3,"Swift, Martin, Shellback","Martin, Shellback",NaN
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN
17,Out of the Woods,1989,2014,3.56,Synth-pop,900,6,"Swift, Antonoff",Antonoff,NaN
20,New Romantics,1989,2014,3.51,Electropop,850,11,"Swift, Antonoff",Antonoff,NaN
30,This Love,1989,2014,4.10,Pop,750,18,"Swift, Antonoff",Antonoff,NaN
37,Lover,1989,2014,4.29,Pop,700,9,"Swift, Antonoff",Antonoff,NaN

In [8]:
album_1989 = df[df['Album'] == '1989']

In [9]:
album_1989.head()

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
3,Blank Space,1989,2014,4.32,Pop,2300,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
8,Wildest Dreams,1989,2014,3.40,Dream pop,850,3,"Swift, Martin, Shellback","Martin, Shellback",NaN
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN
17,Out of the Woods,1989,2014,3.56,Synth-pop,900,6,"Swift, Antonoff",Antonoff,NaN

In [59]:
# Filtrar canciones que no sean del álbum 'Red'
df[df['Album'] != 'Red']

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
0,Love Story,Fearless,2008,3.55,Country,850,4,Swift,Chapman,Grammy
1,You Belong With Me,Fearless,2008,3.52,Country,920,2,"Swift, Rose",Chapman,NaN
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
3,Blank Space,1989,2014,4.32,Pop,2300,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
5,Willow,Evermore,2020,3.34,Alternative,500,1,"Swift, Dessner",Dessner,NaN
6,Anti-Hero,Midnights,2022,3.20,Pop,800,1,"Swift, Antonoff",Antonoff,NaN
7,The Archer,Lover,2019,3.31,Synth-pop,600,4,"Swift, Antonoff",Antonoff,NaN
8,Wildest Dreams,1989,2014,3.40,Dream pop,850,3,"Swift, Martin, Shellback","Martin, Shellback",NaN
9,Cardigan,Folklore,2020,4.00,Indie Folk,700,6,"Swift, Dessner",Dessner,Grammy
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN
11,Delicate,Reputation,2017,3.55,Electropop,750,7,"Swift, Antonoff",Antonoff,NaN
12,Look What You Made Me Do,Reputation,2017,3.31,Electropop,780,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
13,Cruel Summer,Lover,2019,2.58,Pop,820,5,"Swift, Antonoff",Antonoff,NaN
14,Enchanted,Speak Now,2010,5.52,Country,450,5,Swift,Swift,NaN
17,Out of the Woods,1989,2014,3.56,Synth-pop,900,6,"Swift, Antonoff",Antonoff,NaN
18,Mean,Speak Now,2010,3.57,Country,400,11,Swift,Swift,Grammy
19,The 1,Folklore,2020,3.31,Indie Folk,700,4,"Swift, Dessner",Dessner,NaN
20,New Romantics,1989,2014,3.51,Electropop,850,11,"Swift, Antonoff",Antonoff,NaN
21,Teardrops on My Guitar,Taylor Swift,2006,3.37,Country,200,13,"Swift, Rose",Chapman,NaN
23,Our Song,Taylor Swift,2006,3.25,Country,180,11,"Swift, Rose",Chapman,NaN
24,Tim McGraw,Taylor Swift,2006,3.53,Country,160,11,"Swift, Rose",Chapman,NaN
25,Fearless,Fearless,2008,4.01,Country,500,9,Swift,Chapman,NaN
26,Marjorie,Evermore,2020,4.18,Alternative,200,18,"Swift, Dessner",Dessner,NaN
27,Evermore,Evermore,2020,4.20,Alternative,180,19,"Swift, Dessner",Dessner,NaN
28,Daylight,Lover,2019,4.53,Pop,750,20,"Swift, Antonoff",Antonoff,NaN
30,This Love,1989,2014,4.10,Pop,750,18,"Swift, Antonoff",Antonoff,NaN
31,Cornelia Street,Lover,2019,4.25,Pop,650,10,Swift,Swift,NaN
32,Peace,Folklore,2020,4.21,Indie Folk,620,11,"Swift, Dessner",Dessner,NaN
33,August,Folklore,2020,3.45,Indie Folk,550,19,"Swift, Dessner",Dessner,NaN
34,Mirrorball,Folklore,2020,4.45,Indie Folk,580,20,"Swift, Dessner",Dessner,NaN
35,Seven,Folklore,2020,4.20,Alternative,560,15,"Swift, Bon Iver",Bon Iver,NaN
36,Exile,Lover,2019,4.20,Synth-pop,650,7,"Swift, Antonoff",Antonoff,NaN
37,Lover,1989,2014,4.29,Pop,700,9,"Swift, Antonoff",Antonoff,NaN
38,Clean,Speak Now,2010,3.57,Country,400,10,Swift,Swift,NaN
39,Sparks Fly,Speak Now,2010,3.57,Country,420,15,"Swift, Rose",Chapman,NaN
40,Mine,Speak Now,2010,4.01,Country,410,16,"Swift, Rose",Chapman,NaN
41,Back to December,Speak Now,2010,4.07,Country,400,12,"Swift, Rose",Chapman,NaN
42,Change,Speak Now,2010,3.55,Country,360,14,"Swift, Rose",Chapman,NaN
43,Innocent,Speak Now,2010,3.48,Country,390,16,"Swift, Rose",Chapman,NaN
44,Ours,Speak Now,2010,4.01,Country,430,10,"Swift, Rose",Chapman,NaN
45,The Story of Us,Speak Now,2010,4.05,Country,450,12,"Swift, Rose",Chapman,NaN
46,Long Live,The Hunger Games,2012,4.02,Alternative,500,18,"Swift, T-Bone Burnett",Chapman,Grammy
47,Safe & Sound,The Hunger Games,2012,3.39,Alternative,470,19,"Swift, T-Bone Burnett",T-Bone Burnett,NaN

In [62]:
# Filtrar canciones con reproducciones entre 500 y 1000 millones
df[(df['Spotify Streams (millions)'] >= 900) & (df['Spotify Streams (millions)'] <= 1000)]

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
1,You Belong With Me,Fearless,2008,3.52,Country,920,2,"Swift, Rose",Chapman,NaN
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN
17,Out of the Woods,1989,2014,3.56,Synth-pop,900,6,"Swift, Antonoff",Antonoff,NaN

In [63]:
# Contar cuántos valores no nulos hay en cada columna
df.count()

Title                         49
Album                         49
Release Year                  49
Duration (mins)               49
Genre                         49
Spotify Streams (millions)    49
Peak Billboard Position       49
Songwriter(s)                 49
Producer(s)                   49
Awards                         6
dtype: int64

In [64]:
# Promedio de la duración de las canciones
df['Duration (mins)'].mean()

3.8026530612244893

In [65]:
# Duración total de todas las canciones en minutos
df['Duration (mins)'].sum()

186.32999999999998

In [66]:
# Promedio de duración de canciones lanzadas después de 2015
df[df['Release Year'] > 2015]['Duration (mins)'].mean()

3.7805882352941174

In [67]:
# Promedio de 'Duration (mins)' y 'Spotify Streams (millions)'
df[['Duration (mins)', 'Spotify Streams (millions)']].mean()

Duration (mins)                 3.802653
Spotify Streams (millions)    637.959184
dtype: float64

### Conclusiones

Hoy nos hemos introducido a los conceptos fundamentales de pandas y realizado algunas funciones avanzadas.

### Tarea

- Practica con más ejercicios de Pandas en [w3schools - Python Pandas](https://www.w3schools.com/python/pandas/default.asp).
- Revisa la documentación de Pandas en [Pandas - Getting Started](https://pandas.pydata.org/docs/getting_started/index.html).

### Takeaways

- Revisa el modulo de `solucionar problemas con archivos CSV` de la plataforma.
- Hay muchos Datasets en internet. Explora Kaggle.
- Hoy hicimos nuestra primera exploración de datos!