# Clase de Data Analytics en Jupyter Notebook (Duración: 40 minutos)

**Objetivo de la Clase**: Proveer a los estudiantes de diferentes profesiones una introducción a los conceptos básicos de variables, tipos de datos, operaciones aritméticas, strings y listas, con un enfoque especial en el manejo de errores, slicing, y listas anidadas, utilizando ejemplos simples y ejercicios prácticos en Jupyter Notebook.

## Capítulo 1: Variables, Tipos de Datos y Operaciones Aritméticas (10 minutos)

**Explicación**:
- Introducción a las variables: Definir variables como contenedores para almacenar información.
- Tipos de datos: Enteros, flotantes, cadenas de texto (strings), booleanos.
- Operaciones aritméticas: Suma, resta, multiplicación, división, módulo.
- Conversión de tipos de datos: Uso de `int()`, `float()`, `str()`.
- Manejo de errores con `try` y `except`: Cómo manejar errores comunes para evitar que el programa se detenga.

**Check:** ¿Qué es una variable?

### Ejercicio 1:
1. Crear una variable llamada `edad` y asignarle un valor de 25. Mostrar el valor en pantalla utilizando `print()`, pero rodeado de un bloque `try` y `except` para manejar posibles errores.

In [22]:
# Abre tu microfono o escribe en el chat

try:
    print(2 + "5")
except:
    print("Hay un error en la definición de la suma")

Hay un error en la definición de la suma

**Check:** ¿Crees que este manejo de excepcion es "obvio" o "innecesario"?

**Check:** ¿Deberíamos usar SIEMPRE este manejo de excepciones?

2. Realizar operaciones aritméticas básicas. Por ejemplo, potenciacion de dos números e imprimir el resultado, usando `try` y `except` para capturar posibles errores.

In [36]:
numero_1 = 3
numero_2 = "4"

In [37]:
print(numero_1 + int(numero_2))

7

In [53]:
int("cinco")

ValueError: invalid literal for int() with base 10: 'cinco'

In [50]:
int(numero_1)

8

In [48]:
print(numero_1)

3.8

In [11]:
# Abre tu microfono o escribe en el chat

try:
    numero_1 = 5
    numero_2 = '3'
    print(numero_1**numero_2)
except:
    print("Error en una variable")

Error en una variable

In [9]:
numero_1 = 5
numero_2 = '3'
print(numero_1**numero_2)

TypeError: unsupported operand type(s) for ** or pow(): 'int' and 'str'

In [7]:
# Abre tu microfono o escribe en el chat

try:
    numero_1 = 5
    numero_2 = 3
    pot=numero_1**numero_2
    print(pot)
except:
    print("Error")

125

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

try:
    a = 10
    b = 15
    suma = a + b
    print("La suma es:", suma)
except Exception as e:
    print("Error en la operación aritmética:", e)

3. Convertir una variable de tipo `string` a `int` y realizar una operación, utilizando `try` y `except` para manejar errores si la conversión falla.

In [15]:
# Abre tu microfono o escribe en el chat

try:
    valor_1='10'
    valor_1=int(valor_1)
    valor_2=3
    print(valor_1%valor_2)
except:
    print("Error :)")

1

In [20]:
try:
     Valor_1='10'
     Valor_2='2'
     result=int(Valor_1)*int(Valor_2)
     print(result)
except:
      print('El valor no es número')

20

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

try:
    numero_str = "30"
    numero_int = int(numero_str)
    print(numero_int + 10)
except (ValueError, ZeroDivisionError) as e:
    print("Error de conversión:", e)

4. Mostrar un error común y manejarlo adecuadamente (ej: intentar convertir "hola" a `int`).

In [ ]:
# Abre tu microfono o escribe en el chat

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

valor = "hola"
try:
    numero = int(valor)
except ValueError as e:
    print("Error al convertir el valor a entero:", e)

## Capítulo 2: Strings (10 minutos)

**Explicación**:
- Propiedades básicas de los strings: Definición y cómo trabajar con cadenas de texto.
- Índices y slices: Acceder a caracteres individuales y a subcadenas.
- Strings formateados: Uso de `f-strings` para combinar texto y variables.
- Métodos comunes de strings: `upper()`, `lower()`, `split()`, `replace()`.

**Ejercicio 2**:
1. Crear una variable `nombre` con el valor "Ana" y mostrar el primer y último carácter utilizando slicing.

In [54]:
nombre = 'Leyton Jean Piere Castro'

In [70]:
nombre.lower()

'leyton jean piere castro'

In [27]:
# Abre tu microfono o escribe en el chat

nombre='anai'
print(nombre[0], nombre[-1])

a i

In [24]:
print(nombre[0:2])

an

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

nombre = "Ana"
print("Primer carácter:", nombre[1])
print("Último carácter:", nombre[-1])

2. Realizar un slice para obtener los primeros 3 caracteres de la cadena "Data Analytics" y los últimos 3 caracteres.

In [ ]:
# Abre tu microfono o escribe en el chat

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

frase = "Data Analytics"
print("Primeros 3 caracteres:", frase[:3])
print("Últimos 3 caracteres:", frase[-3:])

3. Utilizar un string formateado para imprimir un mensaje personalizado.

In [29]:
# Abre tu microfono o escribe en el chat
nombre='Leyton'
edad='26'
print(f"Feliz cumpleaños Leyton, felicidades por tus {edad} años")

Feliz cumpleaños Leyton, felicidades por tus 26 años

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

edad = 30
print(f"Hola, tengo {edad} años")

4. Convertir el texto "hola mundo" a mayúsculas y reemplazar "mundo" por "a todos".

In [33]:
# Abre tu microfono o escribe en el chat

saludo = 'hola mundo'
print(saludo.upper().replace('MUNDO','A TODOS'))

HOLA A TODOS

In [36]:
# Abre tu microfono o escribe en el chat

saludo_3 = 'hola mundo'
print(saludo_3.replace('MUNDO','a todos').upper())

HOLA MUNDO

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

saludo = "hola mundo"
saludo_modificado = saludo.upper().replace("MUNDO", "A TODOS")
print(saludo_modificado)

## Capítulo 3: Listas (15 minutos)

**Explicación**:
- Propiedades básicas de las listas: Definición y cómo almacenar múltiples valores.
- Índices y slices en listas: Acceder a elementos específicos y sublistas.
- Modificación de listas: Agregar, eliminar, modificar elementos.
- Ordenar listas: Uso del método `sort()`.
- Listas anidadas y cómo acceder a elementos dentro de listas anidadas.

**Ejercicio 3**:
1. Crear una lista de frutas `frutas = ["manzana", "banana", "cereza"]` e imprimir la segunda fruta utilizando un bloque `try` y `except` para manejar posibles errores de índice.

In [37]:
# Abre tu microfono o escribe en el chat

frutas = ["manzana", "banana", "cereza"]
print(frutas[1])

banana

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

frutas = ["manzana", "banana", "cereza"]
try:
    print(frutas[1])
except IndexError as e:
    print("Error de índice:", e)

2. Agregar una nueva fruta a la lista y eliminar otra, utilizando `try` y `except` para manejar errores.

In [43]:
# Abre tu microfono o escribe en el chat

# Vamos a eliminar manzana
frutas = ["manzana", "banana", "cereza"]
fruta_nueva='mango'

frutas.append(fruta_nueva)
frutas.pop(0)

'manzana'

In [44]:
frutas

['banana', 'cereza', 'mango']

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

try:
    frutas.append("naranja")
    frutas.remove("banana")
    print(frutas)
except ValueError as e:
    print("Error al modificar la lista:", e)

3. Crear una lista anidada que contenga dos listas y acceder al segundo elemento de la primera lista utilizando slicing y un bloque `try` y `except`.

In [ ]:
# Abre tu microfono o escribe en el chat

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

lista_anidada = [[1, 2, 3], ["a", "b", "c"]]
try:
    print(lista_anidada[0][1])  # Acceder al segundo elemento de la primera lista
except IndexError as e:
    print("Error de índice en lista anidada:", e)

4. Practicar slicing en una lista anidada para obtener una sublista de la primera lista.

In [ ]:
# Abre tu microfono o escribe en el chat

In [ ]:
# Hagamos de cuenta que esta celda no existe :')

try:
    sublista = lista_anidada[0][:2]  # Obtener los primeros dos elementos de la primera lista
    print("Sublista:", sublista)
except IndexError as e:
    print("Error de índice en slicing de lista anidada:", e)

## Conclusión y Resumen (5 minutos)
- Resumir los conceptos aprendidos: Variables, tipos de datos, operaciones aritméticas, manejo de errores, slicing, strings y listas anidadas.
- Aclarar dudas y dar ejemplos adicionales si hay tiempo.

## Tarea:
- Practicar creando variables, listas y strings en Jupyter Notebook.
- Intentar modificar los ejemplos dados para explorar diferentes resultados.
- Practicar el manejo de errores utilizando `try` y `except` en diferentes escenarios.
- **¿Olvidamos algo?** Cierto, el proyecto. No olvides que puedes agendar sesiones 1:1.

## Takeaways

**Check:** ¿Notaste alguna diferencia en trabajar con Notebooks de Jupyter que con archivos de código plano?

__[Usando MarkDown en Jupyter](https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook)__