# Clase de Python Intermedio

In [2]:
import pandas as pd

## Tema 0: Documentación en Python

- Documentación funciones pyhton: https://docs.python.org/3/library/functions.html.
- Documentación python general: https://docs.python.org/3/
- Pandas: https://pandas.pydata.org/pandas-docs/stable/
- Matplotlib: https://matplotlib.org/
- StackOverflow: https://stackoverflow.com/

## Tema 1: Cómo leer errores en Python con ejemplos

**Título:** Comprendiendo los errores en Python

**Descripción:**
Los errores en Python pueden ser de distintos tipos: `SyntaxError`, `TypeError`, `IndexError`, etc.
Leer los errores correctamente nos ayuda a depurar el código más rápido.

**Pista:**
Ejecuta el siguiente código y observa el error. Luego corrígelo.

```python
print('Hola' + 5)
```

**Solución:**
```python
print('Hola ' + str(5))
```

**Resumen de la solución:**
El error `TypeError` ocurre porque intentamos concatenar un `str` con un `int`. La solución es convertir el número en una cadena.

In [3]:
print('Hola' + 5)

TypeError: can only concatenate str (not "int") to str

In [4]:
try:
    print('Hola' + 5)
except:
    print("No se logra realizar la suma")

No se logra realizar la suma

## Tema 2: Recorrer diccionarios en bucle

In [5]:
# Diccionario de ejemplo
financial_info = {
    'American Express': 93,
    'Boeing': 178,
    'Coca-Cola': 45,
    'Walt Disney': 119,
    'Nike': 97,
    'JPMorgan': 96,
    'Walmart': 130
}

In [7]:
for i in financial_info:
    print(financial_info[i])

93
178
45
119
97
96
130

In [9]:
financial_info.values()

dict_values([93, 178, 45, 119, 97, 96, 130])

In [8]:
# Recorrer valores
total_value = sum(financial_info.values())
print('Total Value:', total_value)

Total Value: 758

In [11]:
for llave, valor in financial_info.items():
    print(llave, valor)

American Express 93
Boeing 178
Coca-Cola 45
Walt Disney 119
Nike 97
JPMorgan 96
Walmart 130

In [12]:
# Recorrer claves y valores
total_value = sum(value for key, value in financial_info.items())
print('Total Value:', total_value)

Total Value: 758

**Resumen:** Ambos métodos recorren el diccionario, ya sea solo por los valores o por clave-valor.

## Tema 3: Diccionarios anidados

In [13]:
# Lista de pedidos con diccionarios anidados
order = [
    {'item': 'Margherita pizza', 'category': 'pizza', 'quantity': 2, 'price': 9},
    {'item': 'Ham pizza', 'category': 'pizza', 'quantity': 1, 'price': 12},
    {'item': 'Pepsi 1 l', 'category': 'beverages', 'quantity': 3, 'price': 2}
]

In [17]:
for item in order:
    print(item['quantity'])

2
1
3

In [18]:
# Calcular precio total
total_price = sum(item['price'] * item['quantity'] for item in order)
print('Total Price:', total_price)

Total Price: 36

**Resumen:** Se utiliza un bucle para recorrer la lista y multiplicar `price` por `quantity` en cada entrada.

## Tema 4: Funciones con valores predeterminados

In [25]:
def sumar_numeros(numero_1=0, numero_2):
    resultado = numero_1 + numero_2
    return resultado

In [26]:
sumar_numeros()

0

In [27]:
# Función con valor predeterminado
def omelet(eggs_number=2):
    return f'¡El omelet está listo! Huevos utilizados: {eggs_number}'

print(omelet())  # Usa el valor por defecto
print(omelet(4))  # Usa el valor especificado

¡El omelet está listo! Huevos utilizados: 2
¡El omelet está listo! Huevos utilizados: 4

**Resumen:** Se puede definir un valor por defecto en una función para que sea opcional pasarlo como argumento.

## Tema 5: Pandas - El objeto Series

<div style="text-align: center;">
    <img src="lol.jpg" alt="LoL" style="width:50%;"/>
</div>

In [28]:
# Cargar el archivo CSV
df = pd.read_csv('200125_LoL_champion_data.csv')

In [30]:
# Exploremos un poco
df.head(2)

,Unnamed: 0,id,apiname,title,difficulty,herotype,alttype,resource,stats,rangetype,...,be,rp,skill_i,skill_q,skill_w,skill_e,skill_r,skills,fullname,nickname
0,Aatrox,266.0,Aatrox,the Darkin Blade,2,Fighter,Tank,Blood Well,"{'hp_base': 650, 'hp_lvl': 114, 'mp_base': 0, ...",Melee,...,4800,880,{1: 'Deathbringer Stance'},"{1: 'The Darkin Blade', 2: 'The Darkin Blade 3'}",{1: 'Infernal Chains'},{1: 'Umbral Dash'},{1: 'World Ender'},"{1: 'Deathbringer Stance', 2: 'The Darkin Blad...",NaN,NaN
1,Ahri,103.0,Ahri,the Nine-Tailed Fox,2,Mage,Assassin,Mana,"{'hp_base': 590, 'hp_lvl': 104, 'mp_base': 418...",Ranged,...,3150,790,{1: 'Essence Theft'},{1: 'Orb of Deception'},{1: 'Fox-Fire'},{1: 'Charm'},{1: 'Spirit Rush'},"{1: 'Essence Theft', 2: 'Orb of Deception', 3:...",NaN,NaN

In [31]:
df.tail(2)

,Unnamed: 0,id,apiname,title,difficulty,herotype,alttype,resource,stats,rangetype,...,be,rp,skill_i,skill_q,skill_w,skill_e,skill_r,skills,fullname,nickname
170,Zoe,142.0,Zoe,the Aspect of Twilight,3,Mage,Support,Mana,"{'hp_base': 630, 'hp_lvl': 106, 'mp_base': 425...",Ranged,...,4800,880,{1: 'More Sparkles!'},"{1: 'Paddle Star', 2: 'Paddle Star 2'}",{1: 'Spell Thief'},{1: 'Sleepy Trouble Bubble'},{1: 'Portal Jump'},"{1: 'More Sparkles!', 2: 'Paddle Star', 3: 'Sp...",NaN,NaN
171,Zyra,143.0,Zyra,Rise of the Thorns,2,Mage,Support,Mana,"{'hp_base': 574, 'hp_lvl': 93, 'mp_base': 418,...",Ranged,...,3150,790,{1: 'Garden of Thorns'},{1: 'Deadly Spines'},{1: 'Rampant Growth'},{1: 'Grasping Roots'},{1: 'Stranglethorns'},"{1: 'Garden of Thorns', 2: 'Deadly Spines', 3:...",NaN,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          172 non-null    object
 1   id                  172 non-null    float64
 2   apiname             172 non-null    object
 3   title               172 non-null    object
 4   difficulty          172 non-null    int64
 5   herotype            172 non-null    object
 6   alttype             144 non-null    object
 7   resource            167 non-null    object
 8   stats               172 non-null    object
 9   rangetype           172 non-null    object
 10  date                172 non-null    object
 11  patch               172 non-null    object
 12  changes             172 non-null    object
 13  role                172 non-null    object
 14  client_positions    172 non-null    object
 15  external_positions  172 non-null    object
 16  damage              172 non-null    int64
 17  toughness           172 non-null    int64
 18  control             172 non-null    int64
 19  mobility            172 non-null    int64
 20  utility             172 non-null    int64
 21  style               172 non-null    int64
 22  adaptivetype        172 non-null    object
 23  be                  172 non-null    int64
 24  rp                  172 non-null    int64
 25  skill_i             172 non-null    object
 26  skill_q             172 non-null    object
 27  skill_w             172 non-null    object
 28  skill_e             172 non-null    object
 29  skill_r             172 non-null    object
 30  skills              170 non-null    object
 31  fullname            43 non-null     object
 32  nickname            14 non-null     object
dtypes: float64(1), int64(9), object(23)
memory usage: 44.5+ KB

In [34]:
df.isnull().sum()

Unnamed: 0              0
id                      0
apiname                 0
title                   0
difficulty              0
herotype                0
alttype                28
resource                5
stats                   0
rangetype               0
date                    0
patch                   0
changes                 0
role                    0
client_positions        0
external_positions      0
damage                  0
toughness               0
control                 0
mobility                0
utility                 0
style                   0
adaptivetype            0
be                      0
rp                      0
skill_i                 0
skill_q                 0
skill_w                 0
skill_e                 0
skill_r                 0
skills                  2
fullname              129
nickname              158
dtype: int64

In [39]:
df.duplicated().sum()

0

In [40]:
df.describe()

,id,difficulty,damage,toughness,control,mobility,utility,style,be,rp
count,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000
mean,195.728488,1.866279,2.465116,1.616279,1.994186,1.790698,1.453488,59.686047,3229.854651,711.773256
std,243.326685,0.666335,0.695813,0.759634,0.721411,0.781605,0.669415,32.094437,1784.829203,221.286564
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,450.000000,260.000000
25%,43.750000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,30.000000,1350.000000,585.000000
50%,102.500000,2.000000,3.000000,1.000000,2.000000,2.000000,1.000000,65.000000,3150.000000,790.000000
75%,233.250000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,90.000000,4800.000000,880.000000
max,950.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,100.000000,7800.000000,975.000000

In [42]:
df[['difficulty', 'mobility', 'control', 'rp']].corr()

            difficulty  mobility   control        rp
difficulty    1.000000  0.271574 -0.098950  0.471791
mobility      0.271574  1.000000 -0.323681  0.229370
control      -0.098950 -0.323681  1.000000 -0.011657
rp            0.471791  0.229370 -0.011657  1.000000

In [51]:
df.loc[1:2]

,Unnamed: 0,id,apiname,title,difficulty,herotype,alttype,resource,stats,rangetype,...,be,rp,skill_i,skill_q,skill_w,skill_e,skill_r,skills,fullname,nickname
1,Ahri,103.0,Ahri,the Nine-Tailed Fox,2,Mage,Assassin,Mana,"{'hp_base': 590, 'hp_lvl': 104, 'mp_base': 418...",Ranged,...,3150,790,{1: 'Essence Theft'},{1: 'Orb of Deception'},{1: 'Fox-Fire'},{1: 'Charm'},{1: 'Spirit Rush'},"{1: 'Essence Theft', 2: 'Orb of Deception', 3:...",NaN,NaN
2,Akali,84.0,Akali,the Rogue Assassin,2,Assassin,NaN,Energy,"{'hp_base': 600, 'hp_lvl': 119, 'mp_base': 200...",Melee,...,3150,790,"{1: ""Assassin's Mark""}",{1: 'Five Point Strike'},{1: 'Twilight Shroud'},{1: 'Shuriken Flip'},{1: 'Perfect Execution'},"{1: ""Assassin's Mark"", 2: 'Five Point Strike',...",Akali Jhomen Tethi,NaN

In [21]:
# Mostrar los primeros 10 nombres de campeones
champion_names = df['apiname'][:10]
print(champion_names)

0      Aatrox
1        Ahri
2       Akali
3      Akshan
4     Alistar
5     Ambessa
6       Amumu
7      Anivia
8       Annie
9    Aphelios
Name: apiname, dtype: object

**Resumen:** En Pandas, una `Series` es una columna de datos dentro de un `DataFrame`.

## Tema 6: Pandas - Estadística descriptiva

In [22]:
# Obtener estadísticas básicas
difficulty_stats = df['difficulty'].describe()
print(difficulty_stats)

count    172.000000
mean       1.866279
std        0.666335
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        3.000000
Name: difficulty, dtype: float64

**Resumen:** La función `describe()` proporciona estadísticas como media, desviación estándar, mínimo y máximo.

## Tema 7: Manejo de errores con try-except

**Título:** Captura de errores con `try-except`

**Descripción:**
A veces, nuestro código puede lanzar errores inesperados. Podemos manejar estos errores usando `try-except` para evitar que el programa se detenga abruptamente.

**Pista:**
Ejecuta el siguiente código y observa qué error se produce. Luego, usa `try-except` para manejarlo.

```python
x = int('hola')
```

**Solución:**
```python
try:
    x = int('hola')
except ValueError:
    print('Error: No se puede convertir un texto en número.')
```

**Resumen de la solución:**
El error `ValueError` ocurre porque intentamos convertir una cadena no numérica en un entero. Lo manejamos con `try-except`.

## Tema 8: Listas por comprensión

In [23]:
# Crear una lista de los primeros 10 números elevados al cuadrado
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
# Crear una lista de los primeros 10 números elevados al cuadrado
lista = [1, 2, 3, 4, 5]
squares = [x**2 for x in lista]
print(squares)

[1, 4, 9, 16, 25]

**Resumen:** Se utiliza comprensión de listas para generar una lista de cuadrados de los primeros 10 números.

## Tema 9: Filtrado de datos con Pandas

In [54]:
df.query("difficulty >= 3").head(1)

,Unnamed: 0,id,apiname,title,difficulty,herotype,alttype,resource,stats,rangetype,...,be,rp,skill_i,skill_q,skill_w,skill_e,skill_r,skills,fullname,nickname
3,Akshan,166.0,Akshan,the Rogue Sentinel,3,Marksman,Assassin,Mana,"{'hp_base': 630, 'hp_lvl': 107, 'mp_base': 350...",Ranged,...,4800,880,{1: 'Dirty Fighting'},{1: 'Avengerang'},{1: 'Going Rogue'},{1: 'Heroic Swing'},{1: 'Comeuppance'},"{1: 'Dirty Fighting', 2: 'Avengerang', 3: 'Goi...",NaN,NaN

In [24]:
# Filtrar campeones de dificultad mayor o igual a 3
difficult_champions = df[df['difficulty'] >= 3]
print(difficult_champions[['apiname', 'difficulty']])

         apiname  difficulty
3         Akshan           3
5        Ambessa           3
7         Anivia           3
9       Aphelios           3
11   AurelionSol           3
13          Azir           3
14          Bard           3
21       Camille           3
22    Cassiopeia           3
29          Ekko           3
37     Gangplank           3
39          Gnar           3
46          Hwei           3
49         Ivern           3
56        KSante           3
58       Kalista           3
67       Kindred           3
74        Lillia           3
94         Nilah           3
103       Qiyana           3
131        Sylas           3
138       Thresh           3
152        Viego           3
153       Viktor           3
161        Yasuo           3
162         Yone           3
166          Zed           3
170          Zoe           3

**Resumen:** Se usa `df[df['columna'] >= valor]` para filtrar filas con condiciones en Pandas.

## Tema 10: Uso de funciones lambda

In [25]:
# Función lambda para calcular el doble de un número
doble = lambda x: x * 2
print(doble(5))

10

**Resumen:** Las funciones lambda permiten definir funciones anónimas en una sola línea.

## Tema 11: Estadística descriptiva con Pandas

In [26]:
# Cargar datos nuevamente por si es necesario
import pandas as pd
df = pd.read_csv('200125_LoL_champion_data.csv')

# Obtener estadísticas básicas de la columna difficulty
print('Dificultad - Media:', df['difficulty'].mean())
print('Dificultad - Máximo:', df['difficulty'].max())
print('Dificultad - Mínimo:', df['difficulty'].min())
print('Dificultad - Desviación estándar:', df['difficulty'].std())

Dificultad - Media: 1.8662790697674418
Dificultad - Máximo: 3
Dificultad - Mínimo: 1
Dificultad - Desviación estándar: 0.6663350868597696

**Resumen:** Se usan métodos como `mean()`, `max()`, `min()`, y `std()` para obtener estadísticas clave en Pandas.

## Tema 12: Aplicar funciones lambda en Pandas

In [55]:
df['difficulty'].unique()

array([2, 3, 1], dtype=int64)

In [56]:
# Crear una nueva columna 'difficulty_label' basada en la dificultad del campeón
lambda_2 = lambda x: 'Fácil' if x <= 2 else 'Difícil'
df['difficulty_label'] = df['difficulty'].apply(lambda_2)
print(df[['apiname', 'difficulty', 'difficulty_label']].head(10))

    apiname  difficulty difficulty_label
0    Aatrox           2            Fácil
1      Ahri           2            Fácil
2     Akali           2            Fácil
3    Akshan           3          Difícil
4   Alistar           1            Fácil
5   Ambessa           3          Difícil
6     Amumu           1            Fácil
7    Anivia           3          Difícil
8     Annie           1            Fácil
9  Aphelios           3          Difícil

**Resumen:** Se usa `.apply(lambda x: ...)` para asignar etiquetas basadas en valores de una columna.

## Tema 13: Listas por comprensión con DataFrames

In [28]:
# Obtener una lista de nombres de campeones con dificultad mayor a 2 usando listas por comprensión
high_difficulty_champs = [champ for champ in df['apiname'] if df[df['apiname'] == champ]['difficulty'].values[0] > 2]
print(high_difficulty_champs[:10])

['Akshan', 'Ambessa', 'Anivia', 'Aphelios', 'AurelionSol', 'Azir', 'Bard', 'Camille', 'Cassiopeia', 'Ekko']

**Resumen:** Se usa listas por comprensión para filtrar valores en base a condiciones dentro del DataFrame.