# Sprint 2: Preparación para el proyecto

## Objetivos

Dar una exploración a ejercicios que nos permitan enfrentarnos al proyecto.

## Sprint 2: Proyecto

### Ejercicio 1: Limpieza de datos

Dado un registro de usuarios, escribe una función para limpiar los datos:
- Convierte los nombres a minúsculas y reemplaza espacios o guiones bajos por espacios.
- Convierte las edades a enteros.
- Devuelve una lista con la información limpia.

In [ ]:
# Lista de usuarios (ID, Nombre, Edad)
usuarios = [
    ["001", " Ana_Pérez ", " 34"],
    ["002", "Luis_Martínez", "28"],
    ["003", " Sofía-González ", "40"],
]

In [ ]:
def limpiar_usuario(usuario):
    """
    Limpia los datos de un usuario.
    """
    usuario[1] = usuario[1].lower().replace('_', ' ').strip()
    usuario[2] = int(usuario[2])
    return usuario

In [ ]:
# Aplica la función a cada usuario
usuarios_limpios = [limpiar_usuario(u) for u in usuarios]
print(usuarios_limpios)

### Ejercicio 2: Cálculo de ingresos

Dada una lista de usuarios con sus gastos, calcula el ingreso total de la empresa.

In [ ]:
usuarios_gastos = [
    ["001", "Ana Pérez", [200, 150, 100]],
    ["002", "Luis Martínez", [300, 200]],
    ["003", "Sofía González", [400, 500, 300]]
]

_¿Recuerdas cómo sumar elementos de una lista?_

In [ ]:
def calcular_ingresos(usuarios):
    """
    Calcula el ingreso total de una lista de usuarios.
    """
    ingreso_total = 0
    for usuario in usuarios:
        ingreso_total += sum(usuario[2])
    return ingreso_tota

In [ ]:
print("Ingreso total:", calcular_ingresos(usuarios_gastos))

### Ejercicio 3: Usuarios frecuentes

Encuentra los usuarios que han gastado más de un monto determinado.

In [ ]:
usuarios_gastos = [
    ["001", "Ana Pérez", [200, 150, 100]],
    ["002", "Luis Martínez", [300, 200]],
    ["003", "Sofía González", [400, 500, 300]]
]

In [ ]:
monto_minimo = 500

_Deberíamos buscar una forma dinámica de válidar este monto._

In [ ]:
def usuarios_frecuentes(usuarios, monto):
    """
    Devuelve una lista de usuarios que han gastado más del monto especificado.
    """
    frecuentes = []
    for usuario in usuarios:
        if sum(usuario[2]) > monto:
            frecuentes.append(usuario[1])
    return frecuentes

In [ ]:
print("Usuarios frecuentes:", usuarios_frecuentes(usuarios_gastos, monto_minimo))

### Ejercicio 4: Generación de informes

Genera un informe con el nombre del usuario y su gasto total.

In [ ]:
usuarios_gastos = [
    ["001", "Ana Pérez", [200, 150, 100]],
    ["002", "Luis Martínez", [300, 200]],
    ["003", "Sofía González", [400, 500, 300]]
]

_Podríamos generar una lista temporal para almacenar los gastos._

In [ ]:
def generar_informe(usuarios):
    """
    Genera un informe de gasto total por usuario.
    """
    informe = []
    for usuario in usuarios:
        total_gasto = sum(usuario[2])
        informe.append((usuario[1], total_gasto))
    return informe

In [ ]:
informe = generar_informe(usuarios_gastos)
print("Informe de gastos:", informe)

### Ejercicio 5: Filtros de categorías

Filtra usuarios que compraron en una categoría específica.

In [ ]:
usuarios_categorias = [
    ["001", "Ana Pérez", ["ropa", "comida"]],
    ["002", "Luis Martínez", ["tecnología", "ropa"]],
    ["003", "Sofía González", ["comida", "hogar"]]
]

_El elemento de las categorias funciona entonces como una segunda lista a recorrer._

In [ ]:
def filtrar_por_categoria(usuarios, categoria):
    """
    Filtra usuarios que han comprado en una categoría específica.
    """
    filtrados = []
    for usuario in usuarios:
        if categoria in usuario[2]:
            filtrados.append(usuario[1])
    return filtrados

In [ ]:
categoria_buscar = "ropa"
print("Usuarios que compraron ropa:", filtrar_por_categoria(usuarios_categorias, categoria_buscar))

### Ejercicio 6:  Usuarios menores de 30 años

Imprime los nombres de los usuarios menores de 30 años.

In [ ]:
usuarios_edades = [
    ["001", "Ana Pérez", 34],
    ["002", "Luis Martínez", 28],
    ["003", "Sofía González", 40]
]

_De nuevo, buscariamos una variable temporal para almacenar la información recolectada._

In [ ]:
def menores_de_30(usuarios):
    """
    Devuelve una lista con los nombres de los usuarios menores de 30 años.
    """
    menores = []
    for usuario in usuarios:
        if usuario[2] < 30:
            menores.append(usuario[1])
    return menores

In [ ]:
print("Usuarios menores de 30:", menores_de_30(usuarios_edades))

### Ejercicio 7: Promedio de gasto

Encuentra al cliente con el mayor gasto total.

In [ ]:
usuarios_gastos = [
    ["001", "Ana Pérez", [200, 150, 100]],
    ["002", "Luis Martínez", [300, 200]],
    ["003", "Sofía González", [400, 500, 300]]
]

_Podríamos usar una variable temporal que almacenará el valor anterior del ciclo para ser comparado en la siguiente iteración._

In [ ]:
def cliente_mayor_gasto(usuarios):
    """
    Encuentra al cliente con el mayor gasto total.
    """
    mayor = (None, 0)  # (Nombre, Gasto)
    for usuario in usuarios:
        total_gasto = sum(usuario[2])
        if total_gasto > mayor[1]:
            mayor = (usuario[1], total_gasto)
    return mayor

In [ ]:
print("Cliente con mayor gasto:", cliente_mayor_gasto(usuarios_gastos))

### Ejercicio 8: Clasificación de usuarios por gasto

 Clasifica a los usuarios en "alto" mayor a 1000, "medio" mayor a 500 y "bajo" menor a 500 según su gasto total.

In [ ]:
usuarios_gastos = [
    ["001", "Ana Pérez", [200, 150, 100]],
    ["002", "Luis Martínez", [300, 200]],
    ["003", "Sofía González", [400, 500, 300]]
]

_Podrías ir hilando sentencias ´if´_

In [ ]:
def clasificar_usuarios(usuarios):
    """
    Clasifica a los usuarios según su gasto total.
    """
    clasificacion = {"alto": [], "medio": [], "bajo": []}
    for usuario in usuarios:
        total_gasto = sum(usuario[2])
        if total_gasto > 1000:
            clasificacion["alto"].append(usuario[1])
        elif total_gasto > 500:
            clasificacion["medio"].append(usuario[1])
        else:
            clasificacion["bajo"].append(usuario[1])
    return clasificacion

In [ ]:
print("Clasificación de usuarios:", clasificar_usuarios(usuarios_gastos))

## Pandas

#### Ejercicio 1: Pandas

Crea un dataframe simple usando elementos del diccionario.

- **Hint**: Clave-Valor es igual a Columnas y sus valores.

In [29]:
import pandas as pd

data = {'product_id': [101, 102, 103],
        'product_name': ['Laptop', 'Smartphone', 'Tablet'],
        'price': [1500, 800, 300],
        'category': ['Electronics', 'Electronics', 'Electronics']}

df = pd.DataFrame(data)

In [31]:
df.head()

   product_id product_name  price     category
0         101       Laptop   1500  Electronics
1         102   Smartphone    800  Electronics
2         103       Tablet    300  Electronics

- [ ] **Check:** ¿Tuvimos que especificar los tipos de datos?

#### Ejercicio 2: Creando dataframes

Crea un dataframe simple usando elementos de la lista anidada.

- **Hint**: Debemos de especificar los nombres de las columnas.

In [34]:
import pandas as pd

sales_data = [
    ['Laptop', 'North America', 120, 120000],
    ['Smartphone', 'Europe', 340, 170000],
    ['Tablet', 'Asia', 210, 63000],
    ['Headphones', 'South America', 150, 45000],
    ['Smartwatch', 'Africa', 95, 28500],
]

columns = ['product_name_xd', 'region', 'units_sold', 'revenue']

sales_report = pd.DataFrame(data=sales_data, columns=columns)

In [35]:
sales_report.head()

  product_name_xd         region  units_sold  revenue
0          Laptop  North America         120   120000
1      Smartphone         Europe         340   170000
2          Tablet           Asia         210    63000
3      Headphones  South America         150    45000
4      Smartwatch         Africa          95    28500

#### Ejercicio 3: Exploremos pandas