

Continuing as a member of the analytical team, in the first project we have set the stage for the second phase. Here we are, now you'll apply advanced techniques to extract meaningful insights, addressing the client's growing needs.

As you know, companies collect and store data in a particular manner. Store 1 wants to store all information about its customers in a table.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

In technical terms, a table is simply a nested list that has a sublist for every user.

Store 1 has created such a table for its users. It is stored in the `users` variable. Each sublist contains the user's ID, first and last names, age, favorite categories, and the amount spent in each category.

- **user_id:** Unique identifier for each user.
- **user_name:** The name of the user.
- **user_age:** Age of the user.
- **fav_categories:** Categories of items purchased by the user, such as 'ELECTRONICS', 'SPORT', 'BOOKS', etc.
- **total_spendings:** List of integers indicating the total the amount spent in each of their favorite categories.

In [ ]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

# Step 1

In the last task of the first part of this project you've wrote code to:

1. Remove all leading, trailing spaces from the names, as well as any underscore.
2. Convert all the ages to integer.
3. Separate all the first names and last names into a sub-list.

Now let's make that a function, so we can use it to fix any client. Call you function `clean_user`. It should receive a list with all the client information, and two integers. One integer indicates the index of the client's name, and the other is the index of the client's age in the list. It should return the clean list, after applying all the previous modifications. Test it by calling the function, passing to it the list `test_user[]` and then print it.

In [ ]:
def clean_user(user_info, name_index, age_index):

    # Step 1: Remove leading, trailing spaces, and underscores from the name
    user_name_1 = user_info[name_index].strip().replace('_', ' ')

    # Step 2: Convert the age to an integer
    user_age_1 = int(user_info[age_index])

    # Step 3: Separate the first and last names into a sub-list
    user_name_1 = user_name_1.split()

    # Prepare the cleaned user info list
    # Replace the original name and age with cleaned data
    user_info[name_index] = user_name_1
    user_info[age_index] = user_age_1

    return user_info

# Test the function
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
name_index = 1
age_index = 2

print(clean_user(test_user, name_index, age_index))

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

********Hint********

To implement the `clean_user` function, follow these steps:

1. **Trim and Replace:** Use `strip()` to remove leading and trailing spaces from the user's name, and `replace('_', ' ')` to replace underscores with spaces.
2. **Convert Age:** Convert the age to an integer using the `int()` function.
3. **Split Name:** Use the `split()` method to separate the first and last names, creating a sub-list.

Ensure that you modify the `user_info` list in place by updating the name and age with the cleaned data before returning the list. Test your function with a sample user to verify its correctness.

# Step 2

Note that all favorite categories are stored in uppercase. Fill up a new list called `fav_categories_low` with the same categories but in lowercase, by iterating over the values in the `fav_categories` list, modifying them, and then append the new values to the `fav_categories_low` list. As always, print the final result.

In [ ]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

for category in fav_categories:
	lowered_category = category.lower()
	fav_categories_low.append(lowered_category)

print(fav_categories_low)

['electronics', 'sport', 'books']

********Hint********

Create a `for` loop that iterates over the `fav_categories` list. Use the `lower()` method to transform each category to lowercase. Then, use the `append()` method to add the updated values to the `fav_categories_low` list.

# Step 3

Now let's do the same, but for every single user of the company. Fill up a new list called `users_categories_low` with the same users, but their categories in lowercase, by iterating over the values in the `users` list, then iterate over the values in the `user_categories` , modifying them, and then append the new user values to the `users_categories_low` list. As always, print the final result.

In [ ]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users_categories_low = []
for user in users:
	categories_low = []
	for category in user[3]:
		lowered_category = category.lower()
		categories_low.append(lowered_category)

	user.pop(3)
	user.insert(3, categories_low)
	users_categories_low.append(user)

print(users_categories_low)

[['32415', ' mike_reed ', 32.0, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', 'kate morgan', 24.0, ['clothes', 'books'], [439, 390]], ['32156', ' john doe ', 37.0, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', 'SAMANTHA SMITH', 29.0, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', 'David White', 41.0, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

********Hint********

Create a `for` loop that iterates over the `users` list. Then make another `for` loop that iterates over the user categories to access and modify the user. Use the `lower()` method to transform each category to lowercase. Then, modify the user by removing the old categories list with `pop()`, and `insert()` the new one in it's place. Then use the `append()` method to add the updated user to the `users_categories_low` list.

# Step 4

Now let's complete to the code for cleaning the category to our `clean_user` function:
1. Add another parameter with the categories index.
2. Make all the names lower case before applying strip and replace.

After that, create a loop and apply your function to the entire users list, adding your results to the `users_clean` list. Then print it. You should get a clean list with all the changes needed made to it.

In [ ]:
def clean_user(user_info, name_index, age_index, cat_index):

  # Step 1: Make everything lowercase, remove leading, trailing spaces, and underscores from the name
  user_name_1 = user_info[name_index].lower().strip().replace('_', ' ')

  # Step 2: Convert the age to an integer
  user_age_1 = int(user_info[age_index])

  # Step 3: Separate the first and last names into a sub-list
  user_name_1 = user_name_1.split()

  # Step 4: Make categories lowercase
  categories_low = []
  for category in user[cat_index]:
    lowered_category = category.lower()
    categories_low.append(lowered_category)


  # Prepare the cleaned user info list
  # Replace the original name and age with cleaned data
  user_info[name_index] = user_name_1
  user_info[age_index] = user_age_1
  user_info[cat_index] = categories_low

  return user_info


users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

name_index = 1
age_index = 2
cat_index = 3
users_cleaned = []

for user in users:
  user_cleaned = clean_user(user, name_index, age_index, cat_index)
  users_cleaned.append(user_cleaned)

print(users_cleaned)

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]
['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]]
['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]]
['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]]
['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]]
['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]]
['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]]
['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]]
['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]]
['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

********Hint********

To implement the new `clean_user` function, follow these steps:

1. **Copy and Adapt**: Copy the code from your previous `clean_user` function.

2. **Lowercase Name**: Before applying `split()` and `replace()`, apply `lower()` to the client's name.

3. **Process Categories**: Add a new section to handle the categories. Convert each category in the list to lowercase and store them in a new list.

4. **Execute your code**: Ensure that the `clean_user` function updates the `user_info` list in place with the cleaned name, age, and categories. Loop the `users` list and call the `clean_user` function, passing the user, `name_index`, `age_index`, and `cat_index` to specify the correct indices for name, age, and categories, respectively.

5. Save each cleaned user in the new `users_cleaned` list.

Print the `users_cleaned` list to make sure that your code performs the expected transformations.

# Step 5

The company wants to know the entire revenue of it and asked you to provide this value.
To calculate the revenue for the company, follow these steps:

1. Use a `for` loop to iterate over the `users` list.
2. Extract the list of spendings for each user and sum up the values.
3. Update the revenue value with the total for each user.

This will give you the total revenue for the company that you’ll print at the very end.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for user in users:
	spendings_list = user[-1]
	total_spendings = sum(spendings_list)
	revenue += total_spendings

print(revenue)

9189

********Hint********

To extract the list of spendings made by a user, use indexing and assign it to the `spendings_list` variable. Then, use the built-in function to calculate the sum of the `spending_list`. Finally, update the `revenue` value by adding the `total_spendings` to it using augmented assignment.

# Step 6

The company wants to offer discounts to its loyal customers. Customers who make purchases totaling more than $1500 are considered loyal and will receive a discount.

Our goal is to create a `while` loop that checks the total amount spent and stops when it is reached. To simulate new purchases, the `new_purchase` variable generates a number between 30 and 80 on every loop iteration. This represents the amount of money spent on a new purchase, and this is what you need to add to the total.

Once the target amount is reached and the `while` loop is terminated, the final amount will be printed.

In [ ]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent <= target_amount: # write your code here
	new_purchase = randint(30, 80) # we generate a random number from 30 to 80
	total_amount_spent += new_purchase # write your code here

print(total_amount_spent)

1551

********Hint********

In the `while` loop, you need to compare `total_amount_spent` with the `target_amount`. During each iteration of the loop, update the `total_amount_spent` variable by adding the `new_purchase` value to it.

# Step 7

Loop through the users list we’ve given you and print the first names of the clients who are less than 30 years old.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


for user in users:
	if user[2] < 30:
	    print(user[1][0])

kate
samantha
emily
jose
james

**Hint:**

Use a for loop to iterate over each row in the table. Use `if` inside a `for` loop to print the name of the user. The field `age` has the index 2.

# Step 8

Let’s print the first names of users who are less than 30 years and have total spending bigger than 1000 dollars.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
    spendings_list = user[-1]
    total_spendings = sum(spendings_list)

    if user[2] < 30 and total_spendings > 1000:
        print(user[1][0])

samantha
james

**Hint:**

Use a for loop to iterate over each row in the table. Use `if` inside a `for` loop to print the name of the user. The field `age` has the index 2. Use the `sum` function to sum the spending and then check if it is bigger than 1000 dollars.

# Step 9

Now let’s print the first name and age of all the users who have shopped for clothes. Print the first name and age in the same print statement.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
    categories = user[-2]
    for category in categories:
        if category == 'clothes':
            print(user[1][0], user[2])

kate 24
samantha 29
maria 33
lisa 35
james 28

**Hint:**

Use a for loop to iterate over each row in the table. Then use another loop to check if this user shopped for clothes, and if yes, print the first name and age inside the same print statement, separating by comma: `print(firstname, age)`.

# Step 10

Management requires a function that provides information on clients, including their names, ages, and total spending, filtered by specific categories. Based on previous code snippets, we will create a function called `get_client_by_cat` with the following specifications:

1. **Parameters**:
   - **users**: A list containing user data.
   - **id_index**: The index where the client's ID is stored in the user list.
   - **name_index**: The index where the client's name is stored in the user list.
   - **age_index**: The index where the client's age is stored in the user list.
   - **category_index**: The index where the client's purchase categories are listed.
   - **amounts_index**: The index where the amounts spent in each category are stored.
   - **filter_category**: A string representing the category name to filter clients by.

2. **Output**:
   - The function returns a list of sublists. Each sublist contains:
     - The client's ID number.
     - A sublist with the first and last names of the client.
     - The client's age.
     - An integer representing the total amount spent by the client.

For example, if you call the function with the following parameters:

```python
get_client_by_cat([
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]
], 0, 1, 2, 3, 4, 'books')
```

The output will be:

```python
[['32415', ['mike', 'reed'], 32, 1280]]
```

This output shows that the client with ID '32415', named Mike Reed, aged 32, spent a total of 1280 in the 'books' category and other purchases.

After doing your function, call it by passing our users list, the proper indexes, and the category 'home', and print the resulting list.

In [ ]:
def get_client_by_cat(users, id_index, name_index, age_index, category_index, amounts_index, filter_category):
    filtered_clients = []

    for user in users:
        categories = user[category_index]
        if filter_category in categories:
            total_spent = sum(user[amounts_index])
            filtered_clients.append([
                user[id_index],          # Client's ID number
                user[name_index],        # Client's name sublist
                user[age_index],         # Client's age
                total_spent              # Total amount spent
            ])

    return filtered_clients

# Users list
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Call the function with the 'home' category
result = get_client_by_cat(users, 0, 1, 2, 3, 4, 'home')

# Print the resulting list
print(result)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

**Hint:**

Use a for loop to iterate over each user in the list. For each user, check if the desired category (filter_category) is in their list of purchase categories. If the category is found, calculate the total amount spent by summing the amounts in the corresponding list. Then, create a sublist with the user's ID, name (as a list of first and last names), age, and total amount spent. Append this sublist to the final result list.