In [4]:
phrase = 'Olivia loves her little yellow duckling' 
print(len(phrase))
# print(phrase[len(phrase)])
print(phrase[len(phrase)-1])
print(phrase[-len(phrase)])

39
g
O

In [5]:
city = 'Rio de Janeiro, Brasil'
substring = city[7:14]
print(substring)

Janeiro

In [6]:
spell = 'abracadabra'
print(spell[:4])

abra

In [7]:
phrase = 'Londres es la capital del Reino Unido'
print(phrase[-11:])

Reino Unido

In [8]:
name = 'Victoria'
age = 23
height = 157

message = f"{name} tiene {age} años y mide {height} cm"
print(message)

Victoria tiene 23 años y mide 157 cm

In [9]:
name = 'Olivia'
age = 25

message = "{} tiene {} años".format(name, age)
print(message)

Olivia tiene 25 años

In [2]:
a = 100
b = 0
c = 10

# Primera división
try:
    resultado = a / b
    # Uso de un F-string para formatear la salida
    print(f"El resultado de dividir {a} entre {b} es {resultado}")
except ZeroDivisionError:
    # Manejo de la división entre cero
    print(f"Error: No se puede dividir {a} entre {b}.")

# Segunda división
resultado = a / c
# Uso de un F-string para formatear la salida
print(f"El resultado de dividir {a} entre {c} es {resultado}")

# Tercera división
try:
    resultado = a / 'a'
    # Uso de un F-string para formatear la salida
    print(f"El resultado de dividir {a} entre 'a' es {resultado}")
except TypeError:
    # Manejo de los tipos de entradas incorrectas
    print("Error: Tanto el numerador como el denominador deben ser números.")

Error: No se puede dividir 100 entre 0.
El resultado de dividir 100 entre 10 es 10.0
Error: Tanto el numerador como el denominador deben ser números.

upper() convierte todos los caracteres a mayúsculas;
lower() convierte todos los caracteres a minúsculas;
replace() reemplaza partes de un string por otro string;
strip() elimina los espacios al principio y al final del string.

In [12]:
# Una lista vacía
my_list = []

# Una lista de enteros
numbers = [1, 2, 3, 4, 5]

# Una lista de strings
fruits = ['manzana', 'manzana', 'banana', 'cereza']

# Una lista de tipos de datos mezclados
mixed = [1, 'apple', 3.14, True]

print('Contenido de la variable my_list:',my_list)
print('Contenido de la variable numbers:',numbers)
print('Contenido de la variable fruits:',fruits)
print('Contenido de la variable mixed:',mixed)

Contenido de la variable my_list: []
Contenido de la variable numbers: [1, 2, 3, 4, 5]
Contenido de la variable fruits: ['manzana', 'manzana', 'banana', 'cereza']
Contenido de la variable mixed: [1, 'apple', 3.14, True]

In [13]:
title = 'Fight Club'
year = 1999
genre = ['thriller', 'drama', 'crime']
duration = 139
rating = 8.644

movie_info = [title, year, genre, duration, rating]
print(movie_info)

['Fight Club', 1999, ['thriller', 'drama', 'crime'], 139, 8.644]

In [14]:
movie_info = ['Fight Club', 1999, ['thriller', 'drama', 'crime'], 139, 8.644]

print(movie_info[0])        # Muestra el primer elemento de la lista
print(type(movie_info[0]))  # Muestra el tipo de datos del primer elemento de la lista

Fight Club
<class 'str'>

In [15]:
movie_info = ['Fight Club', 1999, ['thriller', 'drama', 'crime'], 139, 8.644]

print(movie_info[1:4])        # muestra el segundo, tercer y cuarto elemento
print(type(movie_info[1:4]))
print(len(movie_info[1:4]))

[1999, ['thriller', 'drama', 'crime'], 139]
<class 'list'>
3

In [16]:
movies_info= ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111]
# segmentar los elementos del índice 1 al 3
print(movies_info[1:4])
# segmentar los elementos del índice 0 al 2
print(movies_info[:3])
# segmentar los elementos del índice 2 al último:
print(movies_info[2:])

['USA', 1994, 'drama']
['The Shawshank Redemption', 'USA', 1994]
[1994, 'drama', 142, 9.111]

In [17]:
ages = [32, 45, 39, 29, 25, 32]

print(ages[1:len(ages)-1])   # Otra solución válida usando len()

[45, 39, 29, 25]

Método	Un elemento	Varios elementos	Al final de la lista	A cualquier parte de la lista
append()	Sí	No	Sí	No
extend()	Sí	Sí	Sí	No
insert()	Sí	No	Sí	Sí
remove()	Sí	No	No	No
pop()	Sí	No	Sí	Sí

Para obtener una lista ordenada asignada a una nueva variable, utiliza sorted(). Para modificar una lista existente, utiliza sort().

Ambos métodos ordenan en orden ascendente por defecto, pero pueden hacerlo en orden descendente con reverse=True:

In [18]:
movies = ['The Good, the Bad and the Ugly', 'Pulp Fiction', 'Fight Club', 'Harakiri']
movies.sort()
print(movies)

['Fight Club', 'Harakiri', 'Pulp Fiction', 'The Good, the Bad and the Ugly']

In [19]:
movies_duration = [142, 175, 152, 195, 201, 154, 178, 139]
movies_duration_sorted = sorted(movies_duration, reverse=True)
print(movies_duration_sorted)

[201, 195, 178, 175, 154, 152, 142, 139]

In [20]:
example = [10,20,30,['a','b','c'],50]
print(example[3][1])
# 3 porque es donde está almacenada la segunda lista
# 1 porque es donde está almacenada 'b'

b

In [21]:
movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

print(movies_info[9][1])
print(movies_info[5][2])
print(movies_info[1][5])

USA
1994
8.73

In [22]:
phrase = 'Aladdin#Esmeralda#Hercules#Mulan'
words = phrase.split('#')
print(words)

['Aladdin', 'Esmeralda', 'Hercules', 'Mulan']